# ===== OS =====
.DS_Store
Thumbs.db

# ===== Backend (Spring Boot / Maven) =====
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
*.log

# ===== IDE =====
.idea/
.vscode/
*.iml

# ===== Env / Secrets =====
.env
*.env
application-local.yml
application-local.properties

# ===== Frontend / Node =====
node_modules/
npm-debug.log
yarn-error.log

# ===== Temporary Scripts =====
backend/*.py


# ===== Frontend (future) =====
frontend/node_modules/
frontend/dist/
frontend/.env


# Windows system files
desktop.ini

backend/uploads/